* {
    font-family: "Times New Roman";
    text-align:left;
    text-decoration:underline;
}

body {
    background-color:blueviolet ;
}

h1 {
    text-align: center;
    text-transform: capitalize;
}

#outer {
    font-size: 25px;
}

#inner {
    font-size: 10px;
}
