body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#box {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

#box p {
    margin: 0; /* Remove default margin for better spacing */
}
.heading {
    color: #e74c3c;
    text-transform: capitalize; /* Capitalize the first letter of each word */
    margin-bottom: 10px;
}

button {
    background-color: #2ecc71;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
